<section class="benefits">
  <div class="container">
    <h2 class="benefits__title">
      Наши преимущества
    </h2>
    <ul class="list-reset benefits__list">
      <li class="benefits__item">
        <p class="benefits__subtitle">
          100%
        </p>
        <p class="benefits__text">
          достоверные справки о перелетах
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__subtitle">
          1 день
        </p>
        <p class="benefits__text">
          доставка справок
          *включена в стоимость услуги
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__subtitle">
          24/7

        </p>
        <p class="benefits__text">
          поддержка от наших специалистов

        </p>
      </li>
    </ul>
  </div>
</section>
