<section class="feed">
  <div class="container">
    <h2 class="feed__title">

    </h2>
    <div class="swiper feed__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="feed__item">
            <img loading="lazy" src="img/avatar.webp" class="image" width="80" height="80" alt="avatar">
            <div class="feed__inner">
              <p class="feed__name">
                Екатерина
              </p>
              <p class="feed__text">
                Пользовалась сервисом для оформления документов на свой первый авиаперелет, и осталась очень довольна! Все было сделано
                быстро и без лишних хлопот. Особенно понравилось, что консультанты всегда были на связи и помогали с любыми вопросами.
                Рекомендую всем!
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="feed__item">
            <img loading="lazy" src="img/avatar.webp" class="image" width="80" height="80" alt="avatar">
            <div class="feed__inner">
              <p class="feed__name">
                Екатерина
              </p>
              <p class="feed__text">
                Пользовалась сервисом для оформления документов на свой первый авиаперелет, и осталась очень довольна! Все было
                сделано
                быстро и без лишних хлопот. Особенно понравилось, что консультанты всегда были на связи и помогали с любыми
                вопросами.
                Рекомендую всем!
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="feed__item">
            <img loading="lazy" src="img/avatar.webp" class="image" width="80" height="80" alt="avatar">
            <div class="feed__inner">
              <p class="feed__name">
                Екатерина
              </p>
              <p class="feed__text">
                Пользовалась сервисом для оформления документов на свой первый авиаперелет, и осталась очень довольна! Все было
                сделано
                быстро и без лишних хлопот. Особенно понравилось, что консультанты всегда были на связи и помогали с любыми
                вопросами.
                Рекомендую всем!
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="feed__item">
            <img loading="lazy" src="img/avatar.webp" class="image" width="80" height="80" alt="avatar">
            <div class="feed__inner">
              <p class="feed__name">
                Екатерина
              </p>
              <p class="feed__text">
                Пользовалась сервисом для оформления документов на свой первый авиаперелет, и осталась очень довольна! Все было
                сделано
                быстро и без лишних хлопот. Особенно понравилось, что консультанты всегда были на связи и помогали с любыми
                вопросами.
                Рекомендую всем!
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="feed__item">
            <img loading="lazy" src="img/avatar.webp" class="image" width="80" height="80" alt="avatar">
            <div class="feed__inner">
              <p class="feed__name">
                Екатерина
              </p>
              <p class="feed__text">
                Пользовалась сервисом для оформления документов на свой первый авиаперелет, и осталась очень довольна! Все было
                сделано
                быстро и без лишних хлопот. Особенно понравилось, что консультанты всегда были на связи и помогали с любыми
                вопросами.
                Рекомендую всем!
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
