<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <a href="/" class="footer__logo">
        <img loading="lazy" src="img/logo-2.svg" class="image" width="136" height="58" alt="svg">
      </a>
      <div class="footer__nav">
        <a href="/" class="footer__link">Главная</a>
        <a href="/" class="footer__link">О нас</a>
        <a href="/" class="footer__link">Услуги</a>
        <a href="/" class="footer__link">Вопросы</a>
        <a href="/" class="footer__link">Контакты</a>
        <a href="/" class="footer__link">Блог</a>
      </div>
      <button class="btn-reset footer__btn" data-graph-path="modal">Оставить заявку</button>
    </div>
    <p class="footer__cap">©Privet Bilet, 2025</p>
  </div>
</footer>
