<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="/">
        <img loading="lazy" src="img/logo.svg" class="image" width="136" height="57" alt="logo">
      </a>
      <div class="header__wrapper">
        <div class="header__nav">
          <div class="header__item">
            <a href="/" class="header__link">Главная</a>
          </div>
          <div class="header__item">
            <a href="/" class="header__link">О нас</a>
          </div>
          <div class="header__item">
            <a href="/" class="header__link">Услуги</a>
          </div>
          <div class="header__item">
            <a href="/" class="header__link">Авиакомпании
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 6L8 10L12 6" stroke="#222220" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </a>
          </div>
          <div class="header__item">
            <a href="/" class="header__link">Вопросы</a>
          </div>
          <div class="header__item">
            <a href="/" class="header__link">Контакты</a>
          </div>
          <div class="header__item">
            <a href="/" class="header__link">Блог</a>
          </div>
        </div>
        <button class="btn-reset header__btn" data-graph-path="modal">Оставить заявку</button>
      </div>

    </div>
  </div>
</header>
