<section class="hero">
  <div class="container">
    <div class="hero__content">
      <p class="hero__descr">
        Cервис по оформлению документов об авиаперелете
      </p>
      <h1 class="hero__title">
        Справки о перелете <br>
        Посадочные талоны <br>
        Маршрутные квитанции
      </h1>
      <button class="btn-reset hero__btn" data-graph-path="modal">
        Оформить заявление
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2004_990)">
            <path d="M1.66138 11.5317H21.1931M21.1931 11.5317L11.4272 1.76581M21.1931 11.5317L11.4272 21.2975"
              stroke="white" stroke-width="1.86017" stroke-linecap="round" />
          </g>
          <defs>
            <clipPath id="clip0_2004_990">
              <rect width="22.322" height="22.322" fill="white" transform="translate(0.266357 0.370728)" />
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>
  </div>
</section>
