<section class="pay">
  <div class="container">
    <h2 class="pay__title">
      Способы оплаты
    </h2>
    <div class="pay__box">
      <p class="pay__descr">
        Оплата услуги осуществляется через перевод на карту

      </p>
      <img loading="lazy" src="img/sber.svg" class="image" width="424" height="66" alt="svg">
    </div>
    <p class="pay__subtitle">
      Оформление и восстановление документов от авиакомпаний

    </p>
    <p class="pay__strong">
      Потеряли посадочный талон? Нужна справка о перелете? Мы поможем быстро и официально восстановить любые авиадокументы от
      крупнейших авиакомпаний, включая Аэрофлот, S7 Airlines, Победа, Utair и другие.

    </p>
    <p class="pay__subtitle pay__subtitle--two">
      Наш сервис специализируется на восстановлении и оформлении следующих документов:

    </p>
    <div class="pay__block">
      <p class="pay__block-title">
        Посадочный талон
      </p>
      <p class="pay__block-text">
        если вы потеряли или выбросили билет, но бухгалтерия требует подтверждение перелета.
      </p>
    </div>
    <div class="pay__block">
      <p class="pay__block-title">
        Справка о перелете
      </p>
      <p class="pay__block-text">
        официальный документ, подтверждающий факт перелета для отчетности или компенсации.
      </p>
    </div>
    <div class="pay__block pay__block--accent">
      <p class="pay__block-title">
        Дополнительные услуги
      </p>
      <p class="pay__block-text">
        помощь в восстановлении других документов, связанных с авиаперелетом.

      </p>
    </div>
    <p class="pay__subtitle pay__subtitle--two">
      Почему выбирают нас?
    </p>
    <ul class="list-reset pay__list">
      <li class="pay__item">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.99992 14.6668C11.6666 14.6668 14.6666 11.6668 14.6666 8.00016C14.6666 4.3335 11.6666 1.3335 7.99992 1.3335C4.33325 1.3335 1.33325 4.3335 1.33325 8.00016C1.33325 11.6668 4.33325 14.6668 7.99992 14.6668Z"
            fill="#FEFEFE" stroke="#7866FF" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M5.16675 7.99995L7.05341 9.88661L10.8334 6.11328" fill="#FEFEFE" />
          <path d="M5.16675 7.99995L7.05341 9.88661L10.8334 6.11328" stroke="#7866FF" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <p class="pay__list-text">
          <span>Официальное восстановление –</span> документы подходят для бухгалтерии и отчетности.
        </p>
      </li>
      <li class="pay__item">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.99992 14.6668C11.6666 14.6668 14.6666 11.6668 14.6666 8.00016C14.6666 4.3335 11.6666 1.3335 7.99992 1.3335C4.33325 1.3335 1.33325 4.3335 1.33325 8.00016C1.33325 11.6668 4.33325 14.6668 7.99992 14.6668Z"
            fill="#FEFEFE" stroke="#7866FF" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M5.16675 7.99995L7.05341 9.88661L10.8334 6.11328" fill="#FEFEFE" />
          <path d="M5.16675 7.99995L7.05341 9.88661L10.8334 6.11328" stroke="#7866FF" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <p class="pay__list-text">
          <span>Работаем с 20+ авиакомпаниями –</span> восстанавливаем документы от ведущих авиаперевозчиков.

        </p>
      </li>
      <li class="pay__item">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.99992 14.6668C11.6666 14.6668 14.6666 11.6668 14.6666 8.00016C14.6666 4.3335 11.6666 1.3335 7.99992 1.3335C4.33325 1.3335 1.33325 4.3335 1.33325 8.00016C1.33325 11.6668 4.33325 14.6668 7.99992 14.6668Z"
            fill="#FEFEFE" stroke="#7866FF" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M5.16675 7.99995L7.05341 9.88661L10.8334 6.11328" fill="#FEFEFE" />
          <path d="M5.16675 7.99995L7.05341 9.88661L10.8334 6.11328" stroke="#7866FF" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <p class="pay__list-text">
          <span>Быстрое оформление –</span>обработка заявки от 24 часов.

        </p>
      </li>
      <li class="pay__item">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.99992 14.6668C11.6666 14.6668 14.6666 11.6668 14.6666 8.00016C14.6666 4.3335 11.6666 1.3335 7.99992 1.3335C4.33325 1.3335 1.33325 4.3335 1.33325 8.00016C1.33325 11.6668 4.33325 14.6668 7.99992 14.6668Z"
            fill="#FEFEFE" stroke="#7866FF" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M5.16675 7.99995L7.05341 9.88661L10.8334 6.11328" fill="#FEFEFE" />
          <path d="M5.16675 7.99995L7.05341 9.88661L10.8334 6.11328" stroke="#7866FF" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <p class="pay__list-text">
          <span>Доступные цены –</span> восстановление документов от 1000 рублей.

        </p>
      </li>
    </ul>
  </div>
  <div class="pay__wrapper">
    <div class="container">
      <p class="pay__wrapper-title">
        Как оформить заявку?
      </p>
      <p class="pay__wrapper-text">
        Оставьте заявку на восстановление документов через <a href="">Телеграм</a>, <a href="">WhatsApp</a>  или <a href="">e-mail</a> – мы свяжемся с вами и оперативно решим
        ваш вопрос. <br>
        <br>
        Восстановите авиадокументы быстро и без лишних сложностей! 🚀

      </p>
    </div>
  </div>
</section>
